* {
    box-sizing: border-box;
}
.app {
    background-color: #141314;
    color: #ffffff;
    
}
.table-title{
    text-align: right !important;
}
.play-video:hover{
    box-shadow:0 4px 8px 0 rgba(3, 3, 3, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);    
}
.actor{
    margin-left: 5px !important;
}
.datatable{
    top: 20px;
    padding: 0 !important;
}
.table-header{
    padding: 1rem 1rem;
}

.center-max-size {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.overview{
    text-align: justify;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    text-transform: uppercase;
}

.poster {
    background-size: cover;
    background-position: top center;
    min-height: 600px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 50px;
    position: relative;
}

.poster-content {
    width: 80%;
}

h1 {
    font-size: 92px;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 10px;
}

.container-movies {
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
}


.button {
    margin: 20px 0;
    background: #0F1014;
    color: white;
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: box-shadow 0.2s;
    transition: transform .2s;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid gray;
    border-radius: 25px;
}

.button:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
.description{
    text-align: justify;
}
.close-video {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 10px;
}

.youtube-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.brand {
    font-weight: bold;
}

/*-- MOVIE */

.movie {
    position: relative;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
}
.navbar-nav .nav-item .nav-link{
    color: #ffffff;
}
.nav-crud{
    background-color: #141314 !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-crud ul li a:hover{
    color: #727272 !important;
}

.movie img {
    height: 355px;
    max-width: 100%;
    transition: transform .2s;
    border-radius: 15px;
    box-shadow:0 4px 8px 0 rgba(3, 3, 3, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.movie img:hover {
    height: 355px;
    max-width: 100%;
    cursor: pointer;
    box-shadow:0 4px 8px 0 rgba(3, 3, 3, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
}

.movie-infos {
    padding: 15px 0;
}

.movie-title {
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}

.movie-voting {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #0F1014;
    border: 1px solid gray;
    padding: 8px;
    font-size: 12px;
    border-radius: 25px;
    text-align: center;
    width: 35px;
}

.movie-voting span{
    margin: 0px auto;
}

/** SEARCH **/
.form {
    position: relative;
}

.search {
    border: 1px solid darkslategray;
    outline: transparent;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 25px;
    color: white;

}

.submit-search {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: transparent;
    color:  white;
    border: none;
}